@model UploadViewModel
@{
    ViewData["Title"] = "Upload An Image";
}

<div class="row">
    <div class="col-md-12">
        <h2>Upload an image</h2>
        <p>Browse an upload an image of a garden bird and we'll try to recognise it.</p>

        <form method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="Index">
            <div class="form-group">
                <label for="File">Select file: </label>
                <input type="file" name="File" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
