@model DisplayViewModel
@{
    ViewData["Title"] = "Display Image";
}

<div class="row">
    <div class="col-md-12">
        <h2>Image results</h2>
        
        <h4>Uploaded image</h4>
        <img src="@Model.ImageUrl" width="400" />

        <h4>Classification</h4>
        
        <p>Status: @Model.ClassificationStatus</p>
        
        @if (Model.Predictions.Any())
        {
            <h4>Prediction Detail</h4>

            <div style="width: 200px">
                @foreach (var prediction in Model.Predictions)
                {
                    <div>@prediction.Tag: <span style="float: right">@prediction.ProbabilityForDisplay</span></div>
                }
            </div>
        }
    </div>
</div>
