@model BirdRecognizer.Train.Models.TagsViewModel
@{
    ViewData["Title"] = "Bird Recogniser - Training Tool";
}

<div class="row">
    <div class="col-md-12">
        <h2>Bird Recogniser - Training Tool</h2>
    </div>
</div>
